<form>
    <div id="Vraper">
        <div class="wrapperWorker" data-id="{{userId}}">
          {{#each result}}
               <div class="screen">
                  <div id="color-layer" class="layer" style="background-color:{{color}}"></div>
                  <div id="img-layer" class="layer"><img src="{{image}}" alt="Изображение для носка"></div>
                  <div id="pattern-layer" class="layer"><img src="{{pattern}}" alt="Узор для носка"></div>
                  <div id="upper-layer" class="layer"><img src="/img/socks_upper_level.png" alt="Шаблон носка"></div>
                </div>
          {{/each}}
            {{#each getFavorite}}
                <div class="container" data-id={{this.id}} >
                    <form name="edit" action="get" >
                        <div>{{this.user_id}}</div>
                        <div>{{this.design_id}}</div>
                        <li class="entry-link" id="delet"><a href="/users/profile" class="delete" id="{{this.id}}">Удалить</a></li>
                    </form>
                </div>
            {{/each}}
        </div>
    </div>
</form>
</div>
<script src="/js/deleteFavorite.js"></script>
